.black {
  color: #000;
}

.white {
  color: #fff;
}

.bg-dark {
  background-color: #000;
}

.bg-light {
  background-color: #fff;
}

.c-gray-0 {
  color: #f8f9fa;
}

.c-gray-1 {
  color: #f1f3f5;
}

.c-gray-2 {
  color: #e9ecef;
}

.c-gray-3 {
  color: #dee2e6;
}

.c-gray-4 {
  color: #ced4da;
}

.c-gray-5 {
  color: #adb5bd;
}

.c-gray-6 {
  color: #868e96;
}

.c-gray-7 {
  color: #495057;
}

.c-gray-8 {
  color: #343a40;
}

.c-gray-9 {
  color: #212529;
}

.bg-gray-0 {
  background: #f8f9fa;
}

.bg-gray-1 {
  background: #f1f3f5;
}

.bg-gray-2 {
  background: #e9ecef;
}

.bg-gray-3 {
  background: #dee2e6;
}

.bg-gray-4 {
  background: #ced4da;
}

.bg-gray-5 {
  background: #adb5bd;
}

.bg-gray-6 {
  background: #868e96;
}

.bg-gray-7 {
  background: #495057;
}

.bg-gray-8 {
  background: #343a40;
}

.bg-gray-9 {
  background: #212529;
}

.c-red-0 {
  color: #fff5f5;
}

.c-red-1 {
  color: #ffe3e3;
}

.c-red-2 {
  color: #ffc9c9;
}

.c-red-3 {
  color: #ffa8a8;
}

.c-red-4 {
  color: #ff8787;
}

.c-red-5 {
  color: #ff6b6b;
}

.c-red-6 {
  color: #fa5252;
}

.c-red-7 {
  color: #f03e3e;
}

.c-red-8 {
  color: #e03131;
}

.c-red-9 {
  color: #c92a2a;
}

.bg-red-0 {
  background: #fff5f5;
}

.bg-red-1 {
  background: #ffe3e3;
}

.bg-red-2 {
  background: #ffc9c9;
}

.bg-red-3 {
  background: #ffa8a8;
}

.bg-red-4 {
  background: #ff8787;
}

.bg-red-5 {
  background: #ff6b6b;
}

.bg-red-6 {
  background: #fa5252;
}

.bg-red-7 {
  background: #f03e3e;
}

.bg-red-8 {
  background: #e03131;
}

.bg-red-9 {
  background: #c92a2a;
}

.c-pink-0 {
  color: #fff0f6;
}

.c-pink-1 {
  color: #ffdeeb;
}

.c-pink-2 {
  color: #fcc2d7;
}

.c-pink-3 {
  color: #faa2c1;
}

.c-pink-4 {
  color: #f783ac;
}

.c-pink-5 {
  color: #f06595;
}

.c-pink-6 {
  color: #e64980;
}

.c-pink-7 {
  color: #d6336c;
}

.c-pink-8 {
  color: #c2255c;
}

.c-pink-9 {
  color: #a61e4d;
}

.bg-pink-0 {
  background: #fff0f6;
}

.bg-pink-1 {
  background: #ffdeeb;
}

.bg-pink-2 {
  background: #fcc2d7;
}

.bg-pink-3 {
  background: #faa2c1;
}

.bg-pink-4 {
  background: #f783ac;
}

.bg-pink-5 {
  background: #f06595;
}

.bg-pink-6 {
  background: #e64980;
}

.bg-pink-7 {
  background: #d6336c;
}

.bg-pink-8 {
  background: #c2255c;
}

.bg-pink-9 {
  background: #a61e4d;
}

.c-grape-0 {
  color: #f8f0fc;
}

.c-grape-1 {
  color: #f3d9fa;
}

.c-grape-2 {
  color: #eebefa;
}

.c-grape-3 {
  color: #e599f7;
}

.c-grape-4 {
  color: #da77f2;
}

.c-grape-5 {
  color: #cc5de8;
}

.c-grape-6 {
  color: #be4bdb;
}

.c-grape-7 {
  color: #ae3ec9;
}

.c-grape-8 {
  color: #9c36b5;
}

.c-grape-9 {
  color: #862e9c;
}

.bg-grape-0 {
  background: #f8f0fc;
}

.bg-grape-1 {
  background: #f3d9fa;
}

.bg-grape-2 {
  background: #eebefa;
}

.bg-grape-3 {
  background: #e599f7;
}

.bg-grape-4 {
  background: #da77f2;
}

.bg-grape-5 {
  background: #cc5de8;
}

.bg-grape-6 {
  background: #be4bdb;
}

.bg-grape-7 {
  background: #ae3ec9;
}

.bg-grape-8 {
  background: #9c36b5;
}

.bg-grape-9 {
  background: #862e9c;
}

.c-violet-0 {
  color: #f3f0ff;
}

.c-violet-1 {
  color: #e5dbff;
}

.c-violet-2 {
  color: #d0bfff;
}

.c-violet-3 {
  color: #b197fc;
}

.c-violet-4 {
  color: #9775fa;
}

.c-violet-5 {
  color: #845ef7;
}

.c-violet-6 {
  color: #7950f2;
}

.c-violet-7 {
  color: #7048e8;
}

.c-violet-8 {
  color: #6741d9;
}

.c-violet-9 {
  color: #5f3dc4;
}

.bg-violet-0 {
  background: #f3f0ff;
}

.bg-violet-1 {
  background: #e5dbff;
}

.bg-violet-2 {
  background: #d0bfff;
}

.bg-violet-3 {
  background: #b197fc;
}

.bg-violet-4 {
  background: #9775fa;
}

.bg-violet-5 {
  background: #845ef7;
}

.bg-violet-6 {
  background: #7950f2;
}

.bg-violet-7 {
  background: #7048e8;
}

.bg-violet-8 {
  background: #6741d9;
}

.bg-violet-9 {
  background: #5f3dc4;
}

.c-indigo-0 {
  color: #edf2ff;
}

.c-indigo-1 {
  color: #dbe4ff;
}

.c-indigo-2 {
  color: #bac8ff;
}

.c-indigo-3 {
  color: #91a7ff;
}

.c-indigo-4 {
  color: #748ffc;
}

.c-indigo-5 {
  color: #5c7cfa;
}

.c-indigo-6 {
  color: #4c6ef5;
}

.c-indigo-7 {
  color: #4263eb;
}

.c-indigo-8 {
  color: #3b5bdb;
}

.c-indigo-9 {
  color: #364fc7;
}

.bg-indigo-0 {
  background: #edf2ff;
}

.bg-indigo-1 {
  background: #dbe4ff;
}

.bg-indigo-2 {
  background: #bac8ff;
}

.bg-indigo-3 {
  background: #91a7ff;
}

.bg-indigo-4 {
  background: #748ffc;
}

.bg-indigo-5 {
  background: #5c7cfa;
}

.bg-indigo-6 {
  background: #4c6ef5;
}

.bg-indigo-7 {
  background: #4263eb;
}

.bg-indigo-8 {
  background: #3b5bdb;
}

.bg-indigo-9 {
  background: #364fc7;
}

.c-blue-0 {
  color: #e7f5ff;
}

.c-blue-1 {
  color: #d0ebff;
}

.c-blue-2 {
  color: #a5d8ff;
}

.c-blue-3 {
  color: #74c0fc;
}

.c-blue-4 {
  color: #4dabf7;
}

.c-blue-5 {
  color: #339af0;
}

.c-blue-6 {
  color: #228be6;
}

.c-blue-7 {
  color: #1c7ed6;
}

.c-blue-8 {
  color: #1971c2;
}

.c-blue-9 {
  color: #1864ab;
}

.bg-blue-0 {
  background: #e7f5ff;
}

.bg-blue-1 {
  background: #d0ebff;
}

.bg-blue-2 {
  background: #a5d8ff;
}

.bg-blue-3 {
  background: #74c0fc;
}

.bg-blue-4 {
  background: #4dabf7;
}

.bg-blue-5 {
  background: #339af0;
}

.bg-blue-6 {
  background: #228be6;
}

.bg-blue-7 {
  background: #1c7ed6;
}

.bg-blue-8 {
  background: #1971c2;
}

.bg-blue-9 {
  background: #1864ab;
}

.c-cyan-0 {
  color: #e3fafc;
}

.c-cyan-1 {
  color: #c5f6fa;
}

.c-cyan-2 {
  color: #99e9f2;
}

.c-cyan-3 {
  color: #66d9e8;
}

.c-cyan-4 {
  color: #3bc9db;
}

.c-cyan-5 {
  color: #22b8cf;
}

.c-cyan-6 {
  color: #15aabf;
}

.c-cyan-7 {
  color: #1098ad;
}

.c-cyan-8 {
  color: #0c8599;
}

.c-cyan-9 {
  color: #0b7285;
}

.bg-cyan-0 {
  background: #e3fafc;
}

.bg-cyan-1 {
  background: #c5f6fa;
}

.bg-cyan-2 {
  background: #99e9f2;
}

.bg-cyan-3 {
  background: #66d9e8;
}

.bg-cyan-4 {
  background: #3bc9db;
}

.bg-cyan-5 {
  background: #22b8cf;
}

.bg-cyan-6 {
  background: #15aabf;
}

.bg-cyan-7 {
  background: #1098ad;
}

.bg-cyan-8 {
  background: #0c8599;
}

.bg-cyan-9 {
  background: #0b7285;
}

.c-teal-0 {
  color: #e6fcf5;
}

.c-teal-1 {
  color: #c3fae8;
}

.c-teal-2 {
  color: #96f2d7;
}

.c-teal-3 {
  color: #63e6be;
}

.c-teal-4 {
  color: #38d9a9;
}

.c-teal-5 {
  color: #20c997;
}

.c-teal-6 {
  color: #12b886;
}

.c-teal-7 {
  color: #0ca678;
}

.c-teal-8 {
  color: #099268;
}

.c-teal-9 {
  color: #087f5b;
}

.bg-teal-0 {
  background: #e6fcf5;
}

.bg-teal-1 {
  background: #c3fae8;
}

.bg-teal-2 {
  background: #96f2d7;
}

.bg-teal-3 {
  background: #63e6be;
}

.bg-teal-4 {
  background: #38d9a9;
}

.bg-teal-5 {
  background: #20c997;
}

.bg-teal-6 {
  background: #12b886;
}

.bg-teal-7 {
  background: #0ca678;
}

.bg-teal-8 {
  background: #099268;
}

.bg-teal-9 {
  background: #087f5b;
}

.c-green-0 {
  color: #ebfbee;
}

.c-green-1 {
  color: #d3f9d8;
}

.c-green-2 {
  color: #b2f2bb;
}

.c-green-3 {
  color: #8ce99a;
}

.c-green-4 {
  color: #69db7c;
}

.c-green-5 {
  color: #51cf66;
}

.c-green-6 {
  color: #40c057;
}

.c-green-7 {
  color: #37b24d;
}

.c-green-8 {
  color: #2f9e44;
}

.c-green-9 {
  color: #2b8a3e;
}

.bg-green-0 {
  background: #ebfbee;
}

.bg-green-1 {
  background: #d3f9d8;
}

.bg-green-2 {
  background: #b2f2bb;
}

.bg-green-3 {
  background: #8ce99a;
}

.bg-green-4 {
  background: #69db7c;
}

.bg-green-5 {
  background: #51cf66;
}

.bg-green-6 {
  background: #40c057;
}

.bg-green-7 {
  background: #37b24d;
}

.bg-green-8 {
  background: #2f9e44;
}

.bg-green-9 {
  background: #2b8a3e;
}

.c-lime-0 {
  color: #f4fce3;
}

.c-lime-1 {
  color: #e9fac8;
}

.c-lime-2 {
  color: #d8f5a2;
}

.c-lime-3 {
  color: #c0eb75;
}

.c-lime-4 {
  color: #a9e34b;
}

.c-lime-5 {
  color: #94d82d;
}

.c-lime-6 {
  color: #82c91e;
}

.c-lime-7 {
  color: #74b816;
}

.c-lime-8 {
  color: #66a80f;
}

.c-lime-9 {
  color: #5c940d;
}

.bg-lime-0 {
  background: #f4fce3;
}

.bg-lime-1 {
  background: #e9fac8;
}

.bg-lime-2 {
  background: #d8f5a2;
}

.bg-lime-3 {
  background: #c0eb75;
}

.bg-lime-4 {
  background: #a9e34b;
}

.bg-lime-5 {
  background: #94d82d;
}

.bg-lime-6 {
  background: #82c91e;
}

.bg-lime-7 {
  background: #74b816;
}

.bg-lime-8 {
  background: #66a80f;
}

.bg-lime-9 {
  background: #5c940d;
}

.c-yellow-0 {
  color: #fff9db;
}

.c-yellow-1 {
  color: #fff3bf;
}

.c-yellow-2 {
  color: #ffec99;
}

.c-yellow-3 {
  color: #ffe066;
}

.c-yellow-4 {
  color: #ffd43b;
}

.c-yellow-5 {
  color: #fcc419;
}

.c-yellow-6 {
  color: #fab005;
}

.c-yellow-7 {
  color: #f59f00;
}

.c-yellow-8 {
  color: #f08c00;
}

.c-yellow-9 {
  color: #e67700;
}

.bg-yellow-0 {
  background: #fff9db;
}

.bg-yellow-1 {
  background: #fff3bf;
}

.bg-yellow-2 {
  background: #ffec99;
}

.bg-yellow-3 {
  background: #ffe066;
}

.bg-yellow-4 {
  background: #ffd43b;
}

.bg-yellow-5 {
  background: #fcc419;
}

.bg-yellow-6 {
  background: #fab005;
}

.bg-yellow-7 {
  background: #f59f00;
}

.bg-yellow-8 {
  background: #f08c00;
}

.bg-yellow-9 {
  background: #e67700;
}

.c-orange-0 {
  color: #fff4e6;
}

.c-orange-1 {
  color: #ffe8cc;
}

.c-orange-2 {
  color: #ffd8a8;
}

.c-orange-3 {
  color: #ffc078;
}

.c-orange-4 {
  color: #ffa94d;
}

.c-orange-5 {
  color: #ff922b;
}

.c-orange-6 {
  color: #fd7e14;
}

.c-orange-7 {
  color: #f76707;
}

.c-orange-8 {
  color: #e8590c;
}

.c-orange-9 {
  color: #d9480f;
}

.bg-orange-0 {
  background: #fff4e6;
}

.bg-orange-1 {
  background: #ffe8cc;
}

.bg-orange-2 {
  background: #ffd8a8;
}

.bg-orange-3 {
  background: #ffc078;
}

.bg-orange-4 {
  background: #ffa94d;
}

.bg-orange-5 {
  background: #ff922b;
}

.bg-orange-6 {
  background: #fd7e14;
}

.bg-orange-7 {
  background: #f76707;
}

.bg-orange-8 {
  background: #e8590c;
}

.bg-orange-9 {
  background: #d9480f;
}

.shadow-0 {
  box-shadow: none;
}

.shadow-1 {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-2 {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow-3 {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow-4 {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.ff-primary {
  font-family: "Roboto", sans-serif;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.under {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.ls-0 {
  letter-spacing: -0.05em;
}

.ls-1 {
  letter-spacing: 0.025em;
}

.ls-2 {
  letter-spacing: 0.05em;
}

.ls-3 {
  letter-spacing: 0.075em;
}

.ls-4 {
  letter-spacing: 0.15em;
}

.ls-5 {
  letter-spacing: 0.5em;
}

.ls-6 {
  letter-spacing: 0.75em;
}

.ls-7 {
  letter-spacing: 1em;
}

.lh-0 {
  line-height: 0.95;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.1;
}

.lh-3 {
  line-height: 1.25;
}

.lh-4 {
  line-height: 1.375;
}

.lh-5 {
  line-height: 1.5;
}

.lh-6 {
  line-height: 1.75;
}

.lh-7 {
  line-height: 2;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fwbb {
  font-weight: bold;
}

.fz-fluid-1 {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.fz-fluid-2 {
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.fz-fluid-3 {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}

.fz-fluid-4 {
  font-size: clamp(2rem, 9vw, 3.5rem);
}

.fz-xs-1 {
  font-size: 0.5rem;
}

.fz-xs-2 {
  font-size: 0.75rem;
}

.fz-xs-3 {
  font-size: 1rem;
}

.fz-md-1 {
  font-size: 1.1rem;
}

.fz-md-1 {
  font-size: 1.125rem;
}

.fz-lg-1 {
  font-size: 1.5rem;
}

.fz-lg-2 {
  font-size: 2rem;
}

.fz-xl-1 {
  font-size: 2.5rem;
}

.fz-xl-2 {
  font-size: 3rem;
}

.fz-xl-3 {
  font-size: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.mauto {
  margin: 0 auto;
}

.m-xs-1 {
  margin: 0.5rem;
}

.m-xs-2 {
  margin: 0.75rem;
}

.m-xs-3 {
  margin: 1rem;
}

.m-md-1 {
  margin: 1.1rem;
}

.m-md-2 {
  margin: 1.125rem;
}

.m-lg-1 {
  margin: 1.5rem;
}

.m-lg-2 {
  margin: 2rem;
}

.m-xl-1 {
  margin: 2.5rem;
}

.m-xl-2 {
  margin: 3rem;
}

.m-xl-3 {
  margin: 4rem;
}

.mt-xs-1 {
  margin-top: 0.5rem;
}

.mt-xs-2 {
  margin-top: 0.75rem;
}

.mt-xs-3 {
  margin-top: 1rem;
}

.mt-md-1 {
  margin-top: 1.1rem;
}

.mt-md-2 {
  margin-top: 1.125rem;
}

.mt-lg-1 {
  margin-top: 1.5rem;
}

.mt-lg-2 {
  margin-top: 2rem;
}

.mt-xl-1 {
  margin-top: 2.5rem;
}

.mt-xl-2 {
  margin-top: 3rem;
}

.mt-xl-3 {
  margin-top: 4rem;
}

.ml-xs-1 {
  margin-left: 0.5rem;
}

.ml-xs-2 {
  margin-left: 0.75rem;
}

.ml-xs-3 {
  margin-left: 1rem;
}

.ml-md-1 {
  margin-left: 1.1rem;
}

.ml-md-2 {
  margin-left: 1.125rem;
}

.ml-lg-1 {
  margin-left: 1.5rem;
}

.ml-lg-2 {
  margin-left: 2rem;
}

.ml-xl-1 {
  margin-left: 2.5rem;
}

.ml-xl-2 {
  margin-left: 3rem;
}

.ml-xl-3 {
  margin-left: 4rem;
}

.mr-xs-1 {
  margin-right: 0.5rem;
}

.mr-xs-2 {
  margin-right: 0.75rem;
}

.mr-xs-3 {
  margin-right: 1rem;
}

.mr-md-1 {
  margin-right: 1.1rem;
}

.mr-md-2 {
  margin-right: 1.125rem;
}

.mr-lg-1 {
  margin-right: 1.5rem;
}

.mr-lg-2 {
  margin-right: 2rem;
}

.mr-xl-1 {
  margin-right: 2.5rem;
}

.mr-xl-2 {
  margin-right: 3rem;
}

.mr-xl-3 {
  margin-right: 4rem;
}

.mb-xs-1 {
  margin-bottom: 0.5rem;
}

.mb-xs-2 {
  margin-bottom: 0.75rem;
}

.mb-xs-3 {
  margin-bottom: 1rem;
}

.mb-md-1 {
  margin-bottom: 1.1rem;
}

.mb-md-2 {
  margin-bottom: 1.125rem;
}

.mb-lg-1 {
  margin-bottom: 1.5rem;
}

.mb-lg-2 {
  margin-bottom: 2rem;
}

.mb-xl-1 {
  margin-bottom: 2.5rem;
}

.mb-xl-2 {
  margin-bottom: 3rem;
}

.mb-xl-3 {
  margin-bottom: 4rem;
}

.mx-xs-1 {
  margin: 0 0.5rem;
}

.mx-xs-2 {
  margin: 0 0.75rem;
}

.mx-xs-3 {
  margin: 0 1rem;
}

.mx-md-1 {
  margin: 0 1.1rem;
}

.mx-md-2 {
  margin: 0 1.125rem;
}

.mx-lg-1 {
  margin: 0 1.5rem;
}

.mx-lg-2 {
  margin: 0 2rem;
}

.mx-xl-1 {
  margin: 0 2.5rem;
}

.mx-xl-2 {
  margin: 0 3rem;
}

.mx-xl-3 {
  margin: 0 4rem;
}

.my-xs-1 {
  margin: 0.5rem 0;
}

.my-xs-2 {
  margin: 0.75rem 0;
}

.my-xs-3 {
  margin: 1rem 0;
}

.my-md-1 {
  margin: 1.1rem 0;
}

.my-md-2 {
  margin: 1.125rem 0;
}

.my-lg-1 {
  margin: 1.5rem 0;
}

.my-lg-2 {
  margin: 2rem 0;
}

.my-xl-1 {
  margin: 2.5rem 0;
}

.my-xl-2 {
  margin: 3rem 0;
}

.my-xl-3 {
  margin: 4rem 0;
}

.p-xs-1 {
  padding: 0.5rem;
}

.p-xs-2 {
  padding: 0.75rem;
}

.p-xs-3 {
  padding: 1rem;
}

.p-md-1 {
  padding: 1.1rem;
}

.p-md-2 {
  padding: 1.125rem;
}

.p-lg-1 {
  padding: 1.5rem;
}

.p-lg-2 {
  padding: 2rem;
}

.p-xl-1 {
  padding: 2.5rem;
}

.p-xl-2 {
  padding: 3rem;
}

.p-xl-3 {
  padding: 4rem;
}

.pt-xs-1 {
  padding-top: 0.5rem;
}

.pt-xs-2 {
  padding-top: 0.75rem;
}

.pt-xs-3 {
  padding-top: 1rem;
}

.pt-md-1 {
  padding-top: 1.1rem;
}

.pt-md-2 {
  padding-top: 1.125rem;
}

.pt-lg-1 {
  padding-top: 1.5rem;
}

.pt-lg-2 {
  padding-top: 2rem;
}

.pt-xl-1 {
  padding-top: 2.5rem;
}

.pt-xl-2 {
  padding-top: 3rem;
}

.pt-xl-3 {
  padding-top: 4rem;
}

.pl-xs-1 {
  padding-left: 0.5rem;
}

.pl-xs-2 {
  padding-left: 0.75rem;
}

.pl-xs-3 {
  padding-left: 1rem;
}

.pl-md-1 {
  padding-left: 1.1rem;
}

.pl-md-2 {
  padding-left: 1.125rem;
}

.pl-lg-1 {
  padding-left: 1.5rem;
}

.pl-lg-2 {
  padding-left: 2rem;
}

.pl-xl-1 {
  padding-left: 2.5rem;
}

.pl-xl-2 {
  padding-left: 3rem;
}

.pl-xl-3 {
  padding-left: 4rem;
}

.pr-xs-1 {
  padding-right: 0.5rem;
}

.pr-xs-2 {
  padding-right: 0.75rem;
}

.pr-xs-3 {
  padding-right: 1rem;
}

.pr-md-1 {
  padding-right: 1.1rem;
}

.pr-md-2 {
  padding-right: 1.125rem;
}

.pr-lg-1 {
  padding-right: 1.5rem;
}

.pr-lg-2 {
  padding-right: 2rem;
}

.pr-xl-1 {
  padding-right: 2.5rem;
}

.pr-xl-2 {
  padding-right: 3rem;
}

.pr-xl-3 {
  padding-right: 4rem;
}

.pb-xs-1 {
  padding-bottom: 0.5rem;
}

.pb-xs-2 {
  padding-bottom: 0.75rem;
}

.pb-xs-3 {
  padding-bottom: 1rem;
}

.pb-md-1 {
  padding-bottom: 1.1rem;
}

.pb-md-2 {
  padding-bottom: 1.125rem;
}

.pb-lg-1 {
  padding-bottom: 1.5rem;
}

.pb-lg-2 {
  padding-bottom: 2rem;
}

.pb-xl-1 {
  padding-bottom: 2.5rem;
}

.pb-xl-2 {
  padding-bottom: 3rem;
}

.pb-xl-3 {
  padding-bottom: 4rem;
}

.px-xs-1 {
  padding: 0 0.5rem;
}

.px-xs-2 {
  padding: 0 0.75rem;
}

.px-xs-3 {
  padding: 0 1rem;
}

.px-md-1 {
  padding: 0 1.1rem;
}

.px-md-2 {
  padding: 0 1.125rem;
}

.px-lg-1 {
  padding: 0 1.5rem;
}

.px-lg-2 {
  padding: 0 2rem;
}

.px-xl-1 {
  padding: 0 2.5rem;
}

.px-xl-2 {
  padding: 0 3rem;
}

.px-xl-3 {
  padding: 0 4rem;
}

.py-xs-1 {
  padding: 0.5rem 0;
}

.py-xs-2 {
  padding: 0.75rem 0;
}

.py-xs-3 {
  padding: 1rem 0;
}

.py-md-1 {
  padding: 1.1rem 0;
}

.py-md-2 {
  padding: 1.125rem 0;
}

.py-lg-1 {
  padding: 1.5rem 0;
}

.py-lg-2 {
  padding: 2rem 0;
}

.py-xl-1 {
  padding: 2.5rem 0;
}

.py-xl-2 {
  padding: 3rem 0;
}

.py-xl-3 {
  padding: 4rem 0;
}

.w10p {
  width: 10%;
}

.w20p {
  width: 20%;
}

.w30p {
  width: 30%;
}

.w40p {
  width: 40%;
}

.w50p {
  width: 50%;
}

.w60p {
  width: 60%;
}

.w70p {
  width: 70%;
}

.w80p {
  width: 80%;
}

.w90p {
  width: 90%;
}

.w100p {
  width: 100%;
}

.h10p {
  height: 10%;
}

.h20p {
  height: 20%;
}

.h30p {
  height: 30%;
}

.h40p {
  height: 40%;
}

.h50p {
  height: 50%;
}

.h60p {
  height: 60%;
}

.h70p {
  height: 70%;
}

.h80p {
  height: 80%;
}

.h90p {
  height: 90%;
}

.h100p {
  height: 100%;
}

.w10v {
  width: 10vw;
}

.w20v {
  width: 20vw;
}

.w30v {
  width: 30vw;
}

.w40v {
  width: 40vw;
}

.w50v {
  width: 50vw;
}

.w60v {
  width: 60vw;
}

.w70v {
  width: 70vw;
}

.w80v {
  width: 80vw;
}

.w90v {
  width: 90vw;
}

.w100v {
  width: 100vw;
}

.h10v {
  height: 10vh;
}

.h20v {
  height: 20vh;
}

.h30v {
  height: 30vh;
}

.h40v {
  height: 40vh;
}

.h50v {
  height: 50vh;
}

.h60v {
  height: 60vh;
}

.h70v {
  height: 70vh;
}

.h80v {
  height: 80vh;
}

.h90v {
  height: 90vh;
}

.h100v {
  height: 100vh;
}

.dflex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.btn, .pill {
  display: inline-block;
  text-align: center;
}

.btn-xs {
  padding: 0.1rem 0.1rem;
  border-radius: 0.2rem;
}

.btn-md {
  padding: 0.25rem 0.25rem;
  border-radius: 0.2rem;
}

.btn-lg {
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
}

.btn-xl {
  display: block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
}

.pill {
  border-radius: 50rem;
}

.pill-xs {
  padding: 0.2rem 0.3rem;
}

.pill-md {
  padding: 0.2rem 0.5rem;
}

.pill-lg {
  padding: 0.2rem 0.6rem;
}

.pill-xl {
  padding: 0.2rem 0.8rem;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.hero .container-fluid {
  height: 30vh;
  width: 100vw;
}
.hero .container-fluid .col-6 {
  height: inherit;
  width: inherit;
}

.img-container {
  height: 30vh;
  width: 100vw;
  background-image: url(img/photo-1.jpg);
}

/*# sourceMappingURL=style.css.map */
