@use '../abstracts' as a;
@use '../layout' as l;
@use '../components' as c;

.container-fluid {
  // height: a.$h30v;
  width: a.$w100v;
  // .col-6 {
  //   height: inherit;
  //   width: inherit;
  // }
}

.img-container {
  height: a.$h30v;
  width: a.$w100v;
  
  background-image: url(img/photo-1.jpg);
  // background-position: center;
  // background-size: cover;
}

.social-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  border-bottom: 1px solid #e1e1e1;
}