.dflex {display: flex;}
.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}

.justify-center {justify-content: center;}

.gap-1 {gap:.5rem}
.gap-2 {gap:.75rem}
.gap-1 {gap:1rem}
.gap-1 {gap:1.25rem}
.gap-1 {gap:1.75rem}
.gap-1 {gap:2rem}