$xs-1: .5rem;
$xs-2: .75rem;
$xs-3: 1rem;
$md-1: 1.1rem;
$md-2: 1.125rem;
$lg-1: 1.5rem;
$lg-2: 2rem;
$xl-1: 2.5rem;
$xl-2: 3rem;
$xl-3: 4rem;

$p10: 10%;
$p20: 20%;
$p30: 30%;
$p40: 40%;
$p50: 50%;
$p60: 60%;
$p70: 70%;
$p80: 80%;
$p90: 90%;
$p100: 100%;

$w10v: 10vw;
$w20v: 20vw;
$w30v: 30vw;
$w40v: 40vw;
$w50v: 50vw;
$w60v: 60vw;
$w70v: 70vw;
$w80v: 80vw;
$w90v: 90vw;
$w100v: 100vw;

$h10v: 10vh;
$h20v: 20vh;
$h30v: 30vh;
$h40v: 40vh;
$h50v: 50vh;
$h60v: 60vh;
$h70v: 70vh;
$h80v: 80vh;
$h90v: 90vh;
$h100v: 100vh;